<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
  </head> 
  <body>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <div id="app">

      <!-- data: 内の配列に基づいて順番に表示させる -->
      <!-- なぜ:keyをつけるのか？A. ファイル下部に記載-->
      <ul>
        <li v-for="fruit in fruits">{{fruit}}</li>
      </ul>
 
      <!-- オブジェクトに対してv-forを使う -->

      <ul>
        <li v-for="value in object" :key="fruit">{{value}}</li>
      </ul>

      <!-- v-forに()で引数を設定してあげるとその指定した値を取得することができる。indexとはインデックス番号のこと -->

      <ul>
        <li v-for="(value, key, index) in object" :key="value">({{index}}){{key}}-{{value}}</li>
      </ul>
      
      <!--整数値を指定された数字まで出力する。inの部分をofにしても同じ-->

      <ul>
        <li v-for="number in 10" :key="number">{{number}}</li>
      </ul>

      <!-- Key属性について -->
      <!-- v-forを使う時には必ずつける。下記の例だともしkey属性をつけないと2番目のinputの要素の中身を消す事ができない。
      keyをつけることによって、セット化することができる。-->
      <ul>
        <div v-for="fruit in fruits" :key="fruit">
          <p>{{fruit}}</p>
          <input type="text">
        </div>
      </ul>
      <button @click="remove">先頭を削除</button>
    </div>
    <script>
      new Vue({
        el: '#app',
        data: {
          //配列を順番に出す
          fruits: ['りんご', 'バナナ', 'ブドウ'],
          // オブジェクトに対して今回はvalueを表示させるのでkey:valueのvalueの値のみがhtmlに表示される。
          object: {
            firstname: '太郎',
            lastName: '田中',
            age: 21
          }
        },
        // buttonを押した時に先頭の要素を削除する。
        methods: {
          remove: function() {
            this.fruits.shift()
          }
        }
      })
    </script>
  </body>
</html>